body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.button_1{
  height:38px;
  background:#86EFC5;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  text-transform: uppercase;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 500px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 500px;
}

ul{
  margin:0;
  padding:0;
}


/* Header */
header {
  background:#35424a;
  color:#ffffff;
  padding-top:20px;
  min-height:50px;
  border-bottom:#86EFC5 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#ffffff;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../HackXD/images/1000.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}


#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}


#signUp {
  text-align: center;
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#signUp form {
  float: right;
  margin-top:15px;
}

/* Main Page Process */
#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

/* Login Page Login box */

#login {
  text-align: center;
  min-height: 300px;
  padding-top: 50px;
}

#login h1 {
  font-size: 30px;
}

#login form {
  float:left;
  width:100%;
  margin-top: 15px;
  min-height: 400px;

}

#login input[type="username"] {
  padding:4px;
  height:15px;
  width:250px;
}

#login input[type="password"] {
  padding:4px;
  height:15px;
  width:250px;
}

/* Dashboard */
#dashboard {
  text-align: center;
  padding-top: 30px;
}

#info {
  padding-left: 130px;
  padding-right: 130px;
  height: 250px;
}

/* Footer */
footer {
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#35424a;
  text-align: center;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#35424a;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }



  <style type="text/css">
    .titles {
      margin: auto;
    }
    .titles td {
      width: 50px;
      text-align: center;
    }
  </style>


}
